.card{
    background: rgba(37, 37, 37, 0.4);
    padding:30px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 220px;
}

.card:hover{
    transform:  translateY(-10px);
}

.icon{
    font-size:50px;
    color:#0ef8d1;
}

.card h2{
    color: white;
    font-family: "Eurostile", sans-serif;
}
.card p{
    color: white;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.top{
    display: flex;
    gap: 15px;  
}

.top h2{
    color: white;
     font-family: "Eurostile", sans-serif;
}
