.hero{
    max-width:950px; 
    margin:auto;
    min-height:95vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;

}

.left{
    flex:6;
}

.left h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:white;
}

.highlight{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:#0ef8d1;
}

.line{
    width:100px;
    height:1.5px;
    background:#0ef8d1;
}

.left p{
    line-height:1.8;
    color: white;
    font-size:15px;
    max-width:580px;
    font-family: 'Montserrat', sans-serif;
}

.right{
    flex:2.5;
}

.image{
    width:600px;
    max-width:100%;
    border-radius:30px;
    box-shadow: 70px 50px 40px -10px #0d937d ;
}
