.hero{
    /* width:90%; */
    max-width:1200px; 
    margin:auto;
    min-height:80vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;

}

.left{
    flex:7;
    justify-content:baseline;
}


.left span{
    color:#0ef8d1;
}

.line{
    width:130px;
    height:3px;
    background:#0ef8d1;
    margin:20px 0;
    
}

.left p{
    line-height:1.8;
    font-size:15px;
    max-width:520px;
    font-family: 'Montserrat', sans-serif;
}

.right{
    flex:3.5;
    display:flex;
    justify-content:baseline
}

.image{
    width:500px;
    max-width:100%;
    border-radius:40px;
   box-shadow: 15px 15px 25px -10px rgba(14,248,209,.4), 25px 25px 60px -20px rgba(14,248,209,.25);

}
