nav{
    position:absolute;
    width:100%;
    padding:20px;
    
}

.content{
    max-width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    line-height: 0.3; 
}
.logo p{ 
    font-size: 11px;
    text-align: center;
}

.links{
    display: flex;
    gap : 30px; 
}

.link{
    text-decoration: none; 
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 400;
    color: #0ef8d1; 
    padding: 5px  ; 
    cursor: pointer; 
}
.link:hover{
    color : white;
}


@media(max-width: 1113px){
    nav{
        padding: 20px;
    }
    .content{
        width:100%;
        flex-direction: column;
    }
    .links{
        gap: 5px;
        font-size: 13px;
    }
}
@media (max-width:480px){
    .content{
        width:100%;
        flex-direction: column;
    }
    .links{
        min-height: fit-content;
        flex-wrap: wrap;
        font-size: 13px;   
        flex-direction: row;
    }
}