nav{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding:20px 30px;
    
}

.content{
   max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    display: flex;
    flex-direction: column; 
    line-height: 0.3; 
}

.logo h1{
    font-family: "Eurostile", sans-serif;
    font-weight: 500;
}
.logo p{ 
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
}

.links{
    display: flex;
    align-items: center;
    gap : 35px;
}

.link{
    text-decoration: none; 
    font-family: "Eurostile", sans-serif;
    font-weight: 750;
    color: #0ef8d1; 
    padding:5px  ; 
    cursor: pointer; 

}
.link:hover{
    color : white;
}


@media (max-width:992px){

    .content{
        width:100%;
    }

    .links{
        gap:20px;
    }

    .link{
        font-size:14px;
    }

    .logo h1{
        font-size:28px;
    }

}

@media (max-width:768px){

    nav{
        padding:20px;
    }

    .content{
        width:100%;
    }

    .links{
        display:none;
    }

    .logo h1{
        font-size:24px;
    }

    .logo p{
        font-size:12px;
    }

}
@media (max-width:480px){

    nav{
        padding:15px;
    }

    .logo h1{
        font-size:20px;
    }

    .logo p{
        font-size:11px;
    }
}