nav{
    position:absolute;
    top:0;
    left: 3;
    padding:0 30px;
    width: 110vw;
}

.content{
    width: 90%;
    max-width: 1200px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    display: flex;
    flex-direction: column; 
    line-height: 0.3; 
}

.logo h1{
    font-family: "Eurostile", sans-serif;
    font-weight: 500;
}
.logo p{ 
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
}

.links{
    display: flex;
    align-items: center;
    gap : 35px;
}

.link{
    text-decoration: none; 
    font-family: "Eurostile", sans-serif;
    font-weight: 750;
    color: #0ef8d1; 
    padding:5px  ; 
    cursor: pointer; 

}
.link:hover{
    color : white;
}