.section {
    display: flex;
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
    min-height: 40vh;
}

.left h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:white;
}

.highlight{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:#0ef8d1;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #0ef8d1;
}

.left p{
    line-height:1.8;
    font-size:15px;
    max-width:520px;
    font-family: 'Montserrat', sans-serif;
}



.button {
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #0ef8d1;
    color:white;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    color: black;
}

.cards{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;

}

@media (max-width:992px){

    .section{
        max-width:90%;
        gap:50px;
        padding:60px 20px;
    }

    .cards{
        grid-template-columns:repeat(2,1fr);
        gap:20px;
        max-width:420px;
    }
    .button{
        width:30%;
    }

}

@media (max-width:768px){

    .section{
        flex-direction:column;
        gap:50px;
        padding:60px 20px;
        place-items: center;
    }
    .cards{
        max-width:400px;
        grid-template-columns:repeat(2,1fr);
        gap:20px;
    }
    .button{
        width:30%;
        place-items: center;
    }
}

@media (max-width:480px){

    .section{
        padding:40px 15px;
    }
    .cards{
        grid-template-columns:1fr;
        gap:20px;
    }

    .button{
        width:30%;
    }

}