.section {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.left {
    flex:7;
    justify-content:baseline;
}

.left span{
    color:#0ef8d1;
}


.left p{
    line-height:1.8;
    font-size:15px;
    max-width:520px;
    font-family: 'Montserrat', sans-serif;
}


.line {
    width: 120px;
    height: 3px;
    background-color: #08F4CC;
    margin: 20px 0;
}

.button {
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    background-color: #08F4CC;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    color: white;
}
.right {
    flex: 1;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    width: 200px;
    height: 300px;
    background: #494848;
    border-radius: 8px; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 5px;
}  

.icon {
    font-size:50px;
    color:#12F7D6;
}
.card h3{
    color: white;
}

.card p {
    color: white;
    line-height: 1.6;
} 