.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 40px;
    min-height: 100vh;

}

.left {
    flex:1;
    
}

.left h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:white;
}

.highlight{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color:#0ef8d1;
}


.left p{
    line-height:1.8;
    font-size:15px;
    max-width:520px;
    font-family: 'Montserrat', sans-serif;
}


.line {
    width: 100px;
    height: 1.5px;
    background-color: #0ef8d1;
}

.button {
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    background-color: #0ef8d1;
    color:white;
    cursor: pointer;
    font-weight: bold;
}
.button:hover{
    color: black;
}

.right {
    flex: 1;
    
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    width: 55%;
    max-width: 60px;
    /* background: rgba(27, 27, 27, 0.4); */

}

