body{
    background-color:rgb(22, 21, 21);
}

.page-container {
   position: relative;
   width: 100%;
   min-height: 100vh;
   overflow: hidden;
}


.bg-text-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1; 
    pointer-events: none; 
}


.vertical-text {
   font-size: 24rem;
   font-weight: 700;
   font-family:  "Lucida Console", Courier New, monospace;
   text-orientation: upright;
   color: rgb(4, 137, 113); 
   opacity: 0.1;
   letter-spacing: 5px;
   white-space: nowrap;
   writing-mode: vertical-rl;
   transform: rotate(0deg); 
}


.main-content {
   position: relative;
   z-index: 2; 
}

@media(width <= 768px ){
   .vertical-text{
   font-weight: 50;
   letter-spacing: 250px;
   }
}
@media(width <= 481px){
   .vertical-text{
   font-weight: 50;
   letter-spacing: 450px;
   }
}






    

